<ion-content padding style="--background:rgb(245, 245, 245);">
    <form>
        <ion-item lines="none" style="margin-bottom: 20%;">
          <div slot="start" class="step-title">
            <span class="step-number">2</span>
          </div>
          <h3>Niveau d'etude</h3>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-select placeholder="Niveau le plus haut" >
            <ion-select-option value="f" *ngFor="let diplome of diplomes">{{diplome}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="file" placeholder="Telecharger le diplome"></ion-input>
          <ion-icon slot="end" name="cloud-upload" color="tertiary"></ion-icon>
        </ion-item>
    </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" class="button-degrader"
          (click)="forwardStep()">Retour</ion-button></ion-col>
        <ion-col><ion-button expand="block" class="button-degrader"
          (click)="nextStep()">Continuer</ion-button></ion-col>
      </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
