<ion-header>
  <ion-toolbar>
    <ion-title>prices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding">
      <h3>Choisir la formule</h3>
      <p class="intro-price">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
    </div>
    <ion-slides [options]="slideOpts" style="width: 100%;">

      <ion-slide>
        <ion-card class="cards">
          <div text-right>
            <p  class="price-title">Prix</p>
            <h3 class="price-mountant">20.000 <br>FCFA</h3>
          </div>
          <div class="ion-padding">
            <img style=" height: 90px; " src="../../../assets/student.svg">
          </div>
          <div text-left class="ion-padding">
            <p class="type-pack">Standard</p>
            <h3 class="name-pack">Pack FAKO</h3>
            <p class="description-pack">1 pers - 3 fois/semaine</p>
          </div>
          <ion-badge color="light" class="badge-css">
            <ion-icon name="cart" class="icons"></ion-icon>
          </ion-badge>
        </ion-card>
     </ion-slide>

    <ion-slide>
      <ion-card class="cards">
        <div text-right>
          <p class="price-title">Prix</p>
          <h3 class="price-mountant">20.000 <br>FCFA</h3>
        </div>
        <div class="ion-padding">
          <img style=" height: 90px; " src="../../../assets/student.svg">
        </div>
        <div text-left class="ion-padding">
          <p class="type-pack">Standard</p>
          <h3 class="name-pack">Pack FAKO</h3>
          <p class="description-pack">1 pers - 3 fois/semaine</p>
        </div>
        <ion-badge color="light" class="badge-css">
          <ion-icon name="cart" class="icons"></ion-icon>
        </ion-badge>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="cards">
        <div text-right>
          <p class="price-title">Prix</p>
          <h3 class="price-mountant">20.000 <br>FCFA</h3>
        </div>
        <div class="ion-padding">
          <img style=" height: 90px; " src="../../../assets/student.svg">
        </div>
        <div text-left class="ion-padding">
          <p class="type-pack">Standard</p>
          <h3 class="name-pack">Pack FAKO</h3>
          <p class="description-pack">1 pers - 3 fois/semaine</p>
        </div>
        <ion-badge color="light" class="badge-css">
          <ion-icon name="cart" class="icons"></ion-icon>
        </ion-badge>
      </ion-card>
    </ion-slide>

    </ion-slides>
  </div>
</ion-content>
