.badge-css{
    font-size: 48px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: auto;
    margin-left: -21px;
}

.icons{
     font-size: 34px;
    color: green;
}

h3{
    font-size: 15px;
 color: green;
    font-weight: bold;
}

.intro-price{
    font-size: 15px; 
    font-family:  'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cards{
    height: 400px; 
    width: 120px; 
    background-color: #32a060; 
    width: 100%;
     border-radius: 20px;
}

.price-title{
    color: #10dc60; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 20px;
}

.price-mountant{
    color: white; 
    font-size: 22px;
     font-weight: bold; 
     margin-top: -20px; 
     margin-right: 20px;
}

.type-pack{
    color: #10dc60; 
    font-size: 18px;
     font-weight: bold;
}

.name-pack{
    color: white;
     font-size: 22px;
      font-weight: bold;
       margin-top: -18px;
}

.description-pack{
    color: white;font-size: 14px;margin-top: -14px;
}