<ion-header style="background-color: #29aba5;">
  <ion-toolbar>

    <ion-item lines="none" style=" --background:#29aba5;">
      
      <ion-card  class="photo-profil">
         <ion-img src="../../../assets/108-80.png" style="height: 100%; width: 100%;"></ion-img>
      </ion-card>
    </ion-item>
     <p class="ion-padding" style="text-align: center;
     font-size: 14px;"><b style="font-size: 20px;">Naruto Uzumaki</b> <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur adipisicing elit</p>
    <ion-row>
        <ion-col><ion-button expand="block" shape="round" fill="outline">Recruter</ion-button></ion-col>
        <ion-col><ion-button expand="block" shape="round" fill="outline">Message</ion-button></ion-col>
    </ion-row>


    <!--<ion-item lines="none" style=" --background:#29aba5;">
        <ion-row>
          <ion-col size="4">
            <ion-button expand="block" size="default">Message</ion-button>
          </ion-col>
          <ion-col size="4">
              <ion-button expand="block" size="default">Noter</ion-button>
          </ion-col>
          <ion-col size="4">
              <ion-button expand="block" size="default">Signaler</ion-button>
            </ion-col>
        </ion-row>
    </ion-item>-->

    <ion-segment color="primary">
        <ion-segment-button style="--background-activated: #29aba5;">
          <ion-label>Avis</ion-label>
          <ion-icon name="happy"></ion-icon>
        </ion-segment-button>
        <ion-segment-button checked>
          <ion-label>Compétences</ion-label>
          <ion-icon name="school"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
          <ion-label>Forfait</ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content style="--background:#f4f5f8;">
  <ion-grid>

   <!-- <ion-row>
      <p class="competences">Mes compétences</p>
      <ion-col>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let competence of Competences; let i=index">
            <ion-card class=" cards">
              <p text-center class="name">{{competence.titre}}</p>
              <span text-center *ngFor="let niveau of competence.niveau">{{niveau}}, </span>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
  </ion-row>-->

  <ion-row>
      <p class="competences">Mes notes</p>
      <ion-col>
        <ion-card style="margin-left: 0; margin-right: 0;">
          <ion-item lines="none">
            <ion-img slot="start" src="../../../assets/108-80.png"
              style="height: 50px; width: 50px; border-radius: 50%;"></ion-img>
            <ion-label>Naruto Uzumaki</ion-label>
            <ion-button fill="outline" slot="end" style="font-size: 9px;">note (4.5)</ion-button>
          </ion-item>
          <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
          </ion-card-content>
          <ion-item>
            <span style="color: gray; font-size: 10px;">11 dec 2019, 10h14</span>
            <div text-center slot="end">
                <ion-badge color="tertiary" class="badge">
                    <ion-icon name="medal" style="font-size: 23px;
                        margin-top: 4px;"></ion-icon>
                  </ion-badge>
                  <ion-badge color="tertiary" class="badge">
                    <ion-icon name="medal" style="font-size: 23px;
                                        margin-top: 4px;"></ion-icon>
                  </ion-badge>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-card style="margin-left: 0; margin-right: 0;">
            <ion-item lines="none">
              <ion-img slot="start" src="../../../assets/108-80.png"
                style="height: 50px; width: 50px; border-radius: 50%;"></ion-img>
              <ion-label>Naruto Uzumaki</ion-label>
              <ion-button fill="outline" slot="end" style="font-size: 9px;">note (4.5)</ion-button>
            </ion-item>
            <ion-card-content>
              This is content, without any paragraph or header tags,
              within an ion-card-content element.
            </ion-card-content>
            <ion-item>
                <span style="color: gray; font-size: 10px;">11 dec 2019, 10h14</span>
              <div text-center slot="end">
                  <ion-badge color="tertiary" class="badge">
                      <ion-icon name="medal" style="font-size: 23px;
                          margin-top: 4px;"></ion-icon>
                    </ion-badge>
                    <ion-badge color="tertiary" class="badge">
                      <ion-icon name="medal" style="font-size: 23px;
                                          margin-top: 4px;"></ion-icon>
                    </ion-badge>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-card style="margin-left: 0; margin-right: 0;">
              <ion-item lines="none">
                <ion-img slot="start" src="../../../assets/108-80.png"
                  style="height: 50px; width: 50px; border-radius: 50%;"></ion-img>
                <ion-label>Naruto Uzumaki</ion-label>
                <ion-button fill="outline" slot="end" style="font-size: 9px;">note (4.5)</ion-button>
              </ion-item>
              <ion-card-content>
                This is content, without any paragraph or header tags,
                within an ion-card-content element.
              </ion-card-content>
              <ion-item>
                  <span style="color: gray; font-size: 10px;">11 dec 2019, 10h14</span>
                <div text-center slot="end">
                    <ion-badge color="tertiary" class="badge">
                        <ion-icon name="medal" style="font-size: 23px;
                            margin-top: 4px;"></ion-icon>
                      </ion-badge>
                      <ion-badge color="tertiary" class="badge">
                        <ion-icon name="medal" style="font-size: 23px;
                                            margin-top: 4px;"></ion-icon>
                      </ion-badge>
                </div>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>