.name{
    font-weight: bold;
    font-style: italic;
    color:#29aba5;
}

.competences{
    margin-bottom: -3px;
    margin-left: 6px;
    color: #f39d34;
    font-style: italic;
    font-weight: bold;
}

.cards{
    margin-left: 0;
    padding-left: 0;
    width: 200px;
    height: 110px;
    border-radius: 10px;
}

.badge{
    margin-top: -19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.photo-profil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 19px;
}
