.sign-up{
    margin-top: 30%;
    font-style: italic;
}

.oder-login{
    font-size: 18px;
    font-style: italic;
}

.forgotten{
    font-size: 14px; 
    font-style: italic;
}

.image{
    height: 200px;
    width: 200px;
    margin-left: -26px;
    margin-bottom: -46px;
}