<ion-content padding>
  <h3 class="page-title">Login</h3>
  <form>
    <ion-item>
      <ion-input type="text" placeholder="phone number"></ion-input>
    </ion-item>
    <ion-item style="padding-left: 0;">
      <ion-input  type="password" placeholder="password"></ion-input>
      <ion-icon name="eye" slot="end" color="tertiary"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <a slot="end" class="forgotten">Forgot your password?</a>
    </ion-item>
    <ion-button expand="block" class="button-degrader">Login</ion-button>

    <div text-center style="margin-top: 10%;">
      <p class="order-login">Or use finger print</p>
     <ion-icon name="finger-print" style="font-size: 5em;" color="tertiary"></ion-icon>
    </div>
  </form>
  <div text-center class="sign-up">
    <p>Don't have account ? <br><a (click)="naviguateToRegister()">Sign up</a></p>
  </div>
</ion-content>
