<ion-header style="background-color: #32a060;height: 18%;">
    <ion-toolbar style="--background:#32a060;">
        <ion-title color="light" style="margin-left: 40px;">Mes messages</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="light"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="--background:rgb(245, 245, 245);">
    <ion-list lines="none">
        <ion-item (click)="goTomessagerie()" *ngFor="let message of messages" class="lignes">
            <img slot="start" src="../../../assets/108-80.png" class="image">
            <p class="messages"><b>{{message.name}}</b><br>
                {{message.message}}
            </p>
            <span slot="end" class="hours">{{message.date}}</span>
        </ion-item>
    </ion-list>
</ion-content>