.teacher-presentation{
    font-size: 12px;
}

.ion-cards{
    margin-bottom: 10px;
}

.icon-more{
    margin-top: -56px;
    margin-right: -11px;
}

.stats{
    font-size: 29px;
}

.niveau-ville{
    font-size: 11px;
    margin-top: -11px;
    color: grey;
}

.stats{
    margin-top: -10px;
    font-size: 14px;
}

.name{
    font-weight: bold;
    font-style: italic;
    color:#29aba5;
}


/* div image*/

.div-image{
    margin-left: 30%; margin-top: 10%;
}

.image{
    border-radius: 50%;
     height: 70px;
     width: 70px;
}

.competences{
    margin-top: -10px;
    text-align: center !important;
    font-size: 10px;
    margin-left: -7px;
}

.vavorite-card{
    margin-left: 0;
    //margin-right: 0;
}

.badge{
    margin-top: -19px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
