.teacher-presentation{
    font-size: 12px;
}

.ion-cards{
    margin-bottom: 10px;
}

.icon-more{
    margin-top: -56px;
    margin-right: -11px;
}

.stats{
    font-size: 29px;
}

.niveau-ville{
    font-size: 11px;
    margin-top: -11px;
    color: grey;
}

.stats{
    margin-top: -10px;
    font-size: 14px;
}

.name{
    font-weight: bold;
    font-style: italic;
    color:#29aba5;
}
