

<ion-content>
    <ion-tabs>

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="teachers-list">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Teacha</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="messanger">
            <ion-icon name="chatbubbles"></ion-icon>
            <ion-label>Messages</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="profil">
            <ion-icon name="person"></ion-icon>
            <ion-label>Mon profil</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="parametres">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Parametres</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
</ion-content>
