<ion-content padding>
  <form>
    <ion-item lines="none" style="margin-bottom: 20%;">
      <div slot="start" class="step-title">
        <span class="step-number">1</span>
      </div>
      <h3>Informations personnelles</h3>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Prenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Ville"></ion-input>
    </ion-item>
    <ion-button expand="block" class="button-degrader">Continuer</ion-button>
  </form>
</ion-content>