.step-title{
    background-color: #f39d34;
    font-style: italic;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 16px;
}

.step-number{
    font-size: 38px;
    margin-left: 10px;
    color: white;
    font-style: italic;
}